$breakpoint-desktop: 1200px;
$breakpoint-mobile: 768px;

@media (min-width: $breakpoint-desktop) {
  header#masthead {
    background-color: transparent;
  }
  #main-nav {
    .navbar-nav {
        .menu-item {
            &:nth-last-child(2) {
              margin-left: auto;
            }
        }
        width: 100%;
        .menu-item {
            .nav-link {
                font-family: $font_montserrat;
                font-size: 14px !important;
                text-transform: uppercase;
                color: $white;
                padding: 15px 10px !important;  
            }

            .dropdown-item {
              font-family: $font_montserrat;
              font-size: 14px !important;
              text-transform: uppercase;
              color: $white;
              padding: 5px 10px !important; 
            }

            .dropdown-menu {
              background-color: $phoenix;
              padding: .5rem;
              min-width: 18rem;
            }
        }
    }
  }
}


@media (max-width: $breakpoint-mobile) {
  .woocommerce-store,
  .content-area {
    .product {
      .custom-woocommerce-image {
        .flex-control-thumbs {
          display: none;
        }
      }

      .custom-woocommerce-sumary {
        padding: 0 3em;
      }
    }

    ul.products {
      li.product {
        width: 100% !important;
      }
    }
  }

  .woocommerce {
    .woocommerce-cart-form {
      .shop_table {
        .actions {
          .coupon {
            .input-text {
              width: 50% !important;
            }
          }
        }

        tr.woocommerce-cart-form__cart-item {
          border-bottom: 2px solid $white;;
        }
      }
    }
  }

  .woocommerce-store {
    .page-title {
      padding-left: 3rem;
    }
  }

  .entry-content {
    h2 {
      font-size: 25px;
    }
  }
}

