body {
  color: $white !important;
}

h1 {
  color: $white;
}

p, span {
  font-weight: 300;
  font-size: 14px;
}

.register-p {
  margin-right: 100px !important;
}

p>a {
  color: $link_footer !important;
  text-decoration: none;

  &:hover {
    color: $link_footer_hover !important;
    text-decoration: underline;
  }
}