.accordion {
  .card {
    border-radius: 5px !important;
    border-bottom: 1px solid !important;
    margin: 5px 0px;

    .card-body {
      color: $black;
      padding: 15px 20px;
      font-size: 14px;
      font-family: $font_roboto;
    }
  }
  .card-header {
    padding: 0px 20px;
    background-color: #201B26;
  }

  .toggle-button {
    color: $white;
    font-weight: 900;
    font-size: 16px;
    font-family: $font_harabara;
    text-align: left;

    &:hover, &:focus {
      color: #23527c;
      text-decoration: none !important;

      @if &[aria-expanded] {
        color: #23527c;
      }
    }
  }
}