/*Custom Fonts*/
@font-face {
  font-family: 'harabara_maisharabaramaisdemo';
  src: url("../fuentes/Harabara_Mais/harabara-webfont.eot?150");
  src: url("../fuentes/Harabara_Mais/harabara-webfont.eot?%23iefix&150") format("embedded-opentype"), url("../fuentes/Harabara_Mais/harabara-webfont.woff2?150") format("woff2"), url("../fuentes/Harabara_Mais/harabara-webfont.woff?150") format("woff"), url("../fuentes/Harabara_Mais/harabara-webfont.ttf?150") format("truetype"), url("../fuentes/Harabara_Mais/harabara-webfont.svg%23harabara_maisharabaramaisdemo?150") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "harabara_maisharabaramaisdemo", sans-serif; }

h1.page-title,
h1.entry-title-custom {
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: .15em;
  margin-top: 20px;
  margin-bottom: 20px; }

header#masthead {
  background-color: #24202a;
  padding: 0px !important; }

.navbar .navbar-toggler {
  border-color: rgba(0, 0, 0, 0); }
  .navbar .navbar-toggler span {
    color: #fff; }
.navbar .navbar-brand .logo-height {
  max-height: 35px; }
.navbar #main-nav .navbar-nav {
  width: 100%; }
  .navbar #main-nav .navbar-nav .menu-item .nav-link, .navbar #main-nav .navbar-nav .menu-item .dropdown-item {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 5px;
    font-weight: normal; }
    .navbar #main-nav .navbar-nav .menu-item .nav-link:hover, .navbar #main-nav .navbar-nav .menu-item .dropdown-item:hover {
      color: #7b7b7b; }
  .navbar #main-nav .navbar-nav > li:nth-last-child(2) a:before {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
    content: '\f007 '; }
  .navbar #main-nav .navbar-nav a[title^="CART"]:before {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
    content: '\f07a'; }
.navbar .navbar-right li a {
  text-transform: capitalize;
  color: #fff !important; }
  .navbar .navbar-right li a i {
    margin-right: 10px; }
.navbar .navbar-right li a:hover {
  color: #7b7b7b !important;
  background: none;
  font-weight: 500 !important; }
.navbar .navbar-right li.logout_text a {
  font-size: 11px !important; }

#content.site-content {
  padding-top: 6rem; }

#footer-widget .widget-title {
  font-family: "harabara_maisharabaramaisdemo", sans-serif !important;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .15em;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff; }
#footer-widget .col-widget ul li {
  line-height: 21px; }
  #footer-widget .col-widget ul li a {
    color: #91daf0;
    font-size: 12px;
    padding: 0; }
  #footer-widget .col-widget ul li a:hover {
    background-color: transparent;
    color: #289abc; }
#footer-widget .col-widget .form-mc {
  display: flex; }
  #footer-widget .col-widget .form-mc .form-group {
    margin-right: 4px;
    width: 100%; }
    #footer-widget .col-widget .form-mc .form-group input {
      width: 100%;
      font-size: 12px;
      padding: 6px 12px;
      height: 34px;
      border: 1px solid #ccc;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
    #footer-widget .col-widget .form-mc .form-group input:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  #footer-widget .col-widget .form-mc .buttom-mc input {
    font-size: 11px;
    padding: 7px;
    color: #fff;
    background: #24202a;
    border: 2px solid #fff;
    border-radius: 0px;
    text-transform: uppercase;
    transition: .3s; }
  #footer-widget .col-widget .form-mc .buttom-mc input:hover,
  #footer-widget .col-widget .form-mc .buttom-mc input:focus,
  #footer-widget .col-widget .form-mc .buttom-mc input.focus {
    color: #24202a;
    background: #fafafa;
    border: 2px solid #fafafa;
    text-decoration: none; }
#footer-widget .col-widget .custom-border {
  color: #C3C3C3;
  text-transform: none;
  border: 1px solid #2F2F2F;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif; }

.site-footer .site-info {
  color: #fff;
  font-family: "Roboto", sans-serif; }

.register-button a {
  margin-top: 30px;
  font-size: 14px;
  padding: 7px 70px;
  color: #fff !important;
  background: #24202a;
  border: 2px solid #fff;
  border-radius: 0px;
  text-transform: uppercase;
  transition: .3s; }
  .register-button a:hover {
    color: #24202a !important;
    background-color: #fff !important;
    border: 2px solid #24202a; }

.wpcf7 .wpcf7-submit, button.woocommerce-form-register__submit, .woocommerce-form-login__submit, .woocommerce-Button {
  margin-top: 30px;
  font-size: 14px;
  padding: 7px 70px !important;
  color: #fff !important;
  background: #24202a !important;
  border: 2px solid #fff !important;
  border-radius: 0px;
  text-transform: uppercase;
  transition: .3s; }
  .wpcf7 .wpcf7-submit:hover, button.woocommerce-form-register__submit:hover, .woocommerce-form-login__submit:hover, .woocommerce-Button:hover {
    color: #24202a !important;
    background: #fff !important;
    border: 2px solid #24202a; }

.custom-woocommerce-image ol.flex-control-thumbs li {
  width: 80% !important;
  margin-bottom: 20px !important; }
.custom-woocommerce-image .woocommerce-product-gallery__trigger {
  display: none; }
.custom-woocommerce-image .flex-viewport .woocommerce-product-gallery__wrapper .flex-active-slide .zoomImg {
  background-color: rgba(0, 0, 0, 0.5) !important; }

.custom-woocommerce-sumary .entry-title-custom {
  font-size: 24px;
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  letter-spacing: 0.15em;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 15px; }
.custom-woocommerce-sumary .woocommerce-product-details__short-description {
  color: #fff; }
.custom-woocommerce-sumary h4 {
  color: #fff;
  font-family: "harabara_maisharabaramaisdemo", sans-serif !important;
  font-size: 18px;
  letter-spacing: .15em;
  margin-bottom: 20px; }
.custom-woocommerce-sumary p {
  font-family: "Roboto", sans-serif;
  font-size: 14px; }
.custom-woocommerce-sumary label {
  color: #c3c0c3;
  font-weight: 700; }
.custom-woocommerce-sumary .custom-add-to-cart .quantity .qty {
  width: 5em;
  text-align: left;
  padding-left: 10px; }
.custom-woocommerce-sumary .custom-add-to-cart .custom-button {
  margin-top: 3rem;
  width: 15rem;
  font-size: 14px;
  color: #fff !important;
  background-color: #24202a !important;
  border: 2px solid #fff;
  border-radius: 0px;
  text-transform: uppercase;
  transition: .3s; }
  .custom-woocommerce-sumary .custom-add-to-cart .custom-button:hover {
    color: #24202a !important;
    background-color: #fafafa !important;
    border: 2px solid #fafafa;
    text-decoration: none; }
.custom-woocommerce-sumary .custom-price {
  margin: 3rem 0; }
  .custom-woocommerce-sumary .custom-price span {
    color: #fff;
    font-size: 24px;
    font-weight: 400; }
  .custom-woocommerce-sumary .custom-price .new-price {
    line-height: 10px; }
    .custom-woocommerce-sumary .custom-price .new-price bdi {
      font-size: 14px; }
    .custom-woocommerce-sumary .custom-price .new-price::before {
      content: "Compare at:  ";
      color: #fff; }
  .custom-woocommerce-sumary .custom-price del {
    display: none !important; }
  .custom-woocommerce-sumary .custom-price .woocommerce-Price-currencySymbol {
    margin-right: 7px; }
.custom-woocommerce-sumary .custom-price-variations {
  margin: 2.5rem 0; }
  .custom-woocommerce-sumary .custom-price-variations span.price {
    display: flex;
    flex-direction: column-reverse; }
    .custom-woocommerce-sumary .custom-price-variations span.price span {
      font-size: 24px;
      font-weight: 700; }
    .custom-woocommerce-sumary .custom-price-variations span.price del {
      opacity: 1 !important;
      line-height: 10px; }
      .custom-woocommerce-sumary .custom-price-variations span.price del .amount {
        font-size: 14px;
        font-weight: 300; }
        .custom-woocommerce-sumary .custom-price-variations span.price del .amount::before {
          content: "Compare at:  ";
          color: #fff; }

#customer_login h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: #fff; }

.woocommerce-form-register, .woocommerce-form-login, .woocommerce-EditAccountForm {
  border: none !important;
  margin: 0 !important; }
  .woocommerce-form-register label, .woocommerce-form-login label, .woocommerce-EditAccountForm label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #C3C0C3; }
  .woocommerce-form-register .password-input, .woocommerce-form-login .password-input, .woocommerce-EditAccountForm .password-input {
    width: 100%; }
  .woocommerce-form-register .woocommerce-form-login__rememberme, .woocommerce-form-login .woocommerce-form-login__rememberme, .woocommerce-EditAccountForm .woocommerce-form-login__rememberme {
    width: 100%; }

.woocommerce-store .woocommerce-result-count,
.woocommerce-store .woocommerce-ordering,
.woocommerce-store .onsale,
.content-area .woocommerce-result-count,
.content-area .woocommerce-ordering,
.content-area .onsale {
  display: none; }
.woocommerce-store .woocommerce-loop-product__title,
.content-area .woocommerce-loop-product__title {
  color: #91daf0;
  padding: 20px 0 10px 0 !important;
  text-align: center;
  font-size: 20px !important;
  letter-spacing: 1px;
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  min-height: 100px; }
  .woocommerce-store .woocommerce-loop-product__title:hover,
  .content-area .woocommerce-loop-product__title:hover {
    color: #289abc; }
.woocommerce-store li.product,
.content-area li.product {
  display: flex;
  flex-direction: column; }
  .woocommerce-store li.product .button,
  .content-area li.product .button {
    text-align: center;
    width: 200px;
    margin: auto;
    margin-top: 1em;
    font-size: 14px;
    color: #fff !important;
    background: #24202a;
    border: 2px solid #fff;
    border-radius: 0px;
    text-transform: uppercase;
    transition: .3s; }
    .woocommerce-store li.product .button:hover,
    .content-area li.product .button:hover {
      color: #24202a !important;
      background-color: #fff !important;
      border: 2px solid #24202a; }
  .woocommerce-store li.product .price,
  .content-area li.product .price {
    text-align: center;
    color: #fff !important; }
    .woocommerce-store li.product .price span,
    .content-area li.product .price span {
      font-size: 16px;
      font-weight: 400; }
.woocommerce-store .woocommerce-notices-wrapper .woocommerce-message,
.content-area .woocommerce-notices-wrapper .woocommerce-message {
  background-color: transparent;
  border: solid #fff;
  color: #fff; }
  .woocommerce-store .woocommerce-notices-wrapper .woocommerce-message::before,
  .content-area .woocommerce-notices-wrapper .woocommerce-message::before {
    color: #fff; }
  .woocommerce-store .woocommerce-notices-wrapper .woocommerce-message .button,
  .content-area .woocommerce-notices-wrapper .woocommerce-message .button {
    text-align: center;
    width: 200px;
    margin: auto;
    font-size: 14px;
    color: #fff !important;
    background: #24202a;
    border: 2px solid #fff;
    border-radius: 0px;
    text-transform: uppercase;
    transition: .3s; }
    .woocommerce-store .woocommerce-notices-wrapper .woocommerce-message .button:hover,
    .content-area .woocommerce-notices-wrapper .woocommerce-message .button:hover {
      color: #24202a !important;
      background-color: #fff !important;
      border: 2px solid #24202a; }

.slider-store .flex-direction-nav .flex-prev {
  left: 5px;
  opacity: 1 !important; }
.slider-store .flex-direction-nav .flex-next {
  right: 5px;
  opacity: 1 !important; }

.entry-content h2 {
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: .15em;
  margin: 0; }

.woocommerce .woocommerce-info {
  border: solid #fff;
  color: #fff;
  background-color: transparent; }
  .woocommerce .woocommerce-info::before {
    color: #fff; }
  .woocommerce .woocommerce-info .showcoupon {
    color: #91daf0; }
    .woocommerce .woocommerce-info .showcoupon:hover {
      color: #289abc;
      text-decoration: none; }
.woocommerce .return-to-shop .button {
  text-align: center;
  width: 200px;
  margin: auto;
  font-size: 14px;
  color: #fff !important;
  background: #24202a;
  border: 2px solid #fff;
  border-radius: 0px;
  text-transform: uppercase;
  transition: .3s; }
  .woocommerce .return-to-shop .button:hover {
    color: #24202a !important;
    background-color: #fff !important;
    border: 2px solid #24202a; }
.woocommerce .woocommerce-cart-form .shop_table th {
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  font-weight: bold; }
.woocommerce .woocommerce-cart-form .shop_table .product-thumbnail img {
  width: 100px; }
.woocommerce .woocommerce-cart-form .shop_table .remove {
  color: #fff !important; }
  .woocommerce .woocommerce-cart-form .shop_table .remove:hover {
    color: #000 !important;
    background: #fff; }
.woocommerce .woocommerce-cart-form .shop_table .product-name a {
  color: #91daf0;
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .15em; }
  .woocommerce .woocommerce-cart-form .shop_table .product-name a:hover {
    text-decoration: none;
    color: #289abc; }
.woocommerce .woocommerce-cart-form .shop_table .product-subtotal span {
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .15em; }
.woocommerce .woocommerce-cart-form .shop_table .actions .coupon .input-text {
  width: 200px !important;
  font-size: 12px;
  padding: 6px 12px;
  height: 34px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .woocommerce .woocommerce-cart-form .shop_table .actions .coupon .input-text:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
.woocommerce .woocommerce-cart-form .shop_table .actions .button {
  text-align: center;
  width: 200px;
  margin: auto;
  font-size: 14px;
  color: #fff !important;
  background: #24202a;
  border: 2px solid #fff;
  border-radius: 0px;
  text-transform: uppercase;
  transition: .3s; }
  .woocommerce .woocommerce-cart-form .shop_table .actions .button:hover {
    color: #24202a !important;
    background-color: #fff !important;
    border: 2px solid #24202a; }
.woocommerce .cart_totals .button {
  text-align: center;
  margin: auto;
  font-size: 14px;
  color: #fff !important;
  background: #24202a !important;
  border: 2px solid #fff;
  border-radius: 0px;
  text-transform: uppercase;
  transition: .3s; }
  .woocommerce .cart_totals .button:hover {
    color: #24202a !important;
    background-color: #fff !important;
    border: 2px solid #24202a; }
.woocommerce .woocommerce-checkout {
  border: none !important;
  margin: 0 !important; }
  .woocommerce .woocommerce-checkout h3 {
    font-size: 24px;
    font-family: "harabara_maisharabaramaisdemo", sans-serif;
    letter-spacing: 0.15em;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 15px; }
  .woocommerce .woocommerce-checkout label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #C3C0C3; }
  .woocommerce .woocommerce-checkout .form-row {
    float: none;
    width: auto; }
    .woocommerce .woocommerce-checkout .form-row .control-label {
      min-width: 20rem; }

.select2-results .select2-results__option {
  color: #000 !important; }
  .select2-results .select2-results__option:hover {
    color: #fff !important;
    background-color: #289abc !important; }

body {
  color: #fff !important; }

h1 {
  color: #fff; }

p, span {
  font-weight: 300;
  font-size: 14px; }

.register-p {
  margin-right: 100px !important; }

p > a {
  color: #91daf0 !important;
  text-decoration: none; }
  p > a:hover {
    color: #289abc !important;
    text-decoration: underline; }

.contact-form label {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #C3C0C3; }
.contact-form input {
  font-size: 14px; }

.accordion .card {
  border-radius: 5px !important;
  border-bottom: 1px solid !important;
  margin: 5px 0px; }
  .accordion .card .card-body {
    color: #000;
    padding: 15px 20px;
    font-size: 14px;
    font-family: "Roboto", sans-serif; }
.accordion .card-header {
  padding: 0px 20px;
  background-color: #201B26; }
.accordion .toggle-button {
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  font-family: "harabara_maisharabaramaisdemo", sans-serif;
  text-align: left; }
  .accordion .toggle-button:hover, .accordion .toggle-button:focus {
    color: #23527c;
    text-decoration: none !important;
    color: #23527c; }

@media (min-width: 1200px) {
  header#masthead {
    background-color: transparent; }

  #main-nav .navbar-nav {
    width: 100%; }
    #main-nav .navbar-nav .menu-item:nth-last-child(2) {
      margin-left: auto; }
    #main-nav .navbar-nav .menu-item .nav-link {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px !important;
      text-transform: uppercase;
      color: #fff;
      padding: 15px 10px !important; }
    #main-nav .navbar-nav .menu-item .dropdown-item {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px !important;
      text-transform: uppercase;
      color: #fff;
      padding: 5px 10px !important; }
    #main-nav .navbar-nav .menu-item .dropdown-menu {
      background-color: #24202a;
      padding: .5rem;
      min-width: 18rem; } }
.woocommerce-MyAccount-navigation > ul {
  list-style: none;
  padding: 0px; }
  .woocommerce-MyAccount-navigation > ul a {
    color: #91daf0;
    font-family: "harabara_maisharabaramaisdemo", sans-serif;
    font-size: 16px !important;
    font-weight: bold;
    line-height: 2em !important;
    letter-spacing: .15em; }
    .woocommerce-MyAccount-navigation > ul a:hover {
      text-decoration: none;
      color: #289abc; }

.woocommerce-EditAccountForm input {
  height: 1.8em !important; }
.woocommerce-EditAccountForm fieldset {
  margin-top: 30px;
  border: 1px solid #fff;
  padding: 5px; }
  .woocommerce-EditAccountForm fieldset legend {
    display: none; }
